@charset "utf-8";

body {
	background-image: url(../media/moving_stars.jpeg); /* https://unsplash.com/photos/timelapse-photography-of-stars-PzO_CitnJdI */
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#space {
	margin-top: 10vmin;
}

.back {
	position: fixed; /* always be at the specified position */
	right: 1vw; /* offsets it away from the right */
	top: 4vh; /* offsets it away from the top */
}

.pull {
	position: fixed; /* always be at the specified position */
	left: 1vw; /* offsets it away from the right */
	top: 4vh; /* offsets it away from the top */
}