@charset "utf-8";

body {
	background-image: url(../media/moon.jpg); /* https://www.pinterest.com/pin/awesome--693132198894110626/ */
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}